<!DOCTYPE HTML>
<html ng-app='myCalculator'>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/calculator.css">
	<script type="text/javascript" src="assets/angular.min.js"></script>
	<script type="text/javascript" src="assets/calculator.js"></script>
	<title>Calculator</title>
</head>

<body>

	<div id="myCalculator" ng-controller="CalculatorController">
		<main>
			<section class="inc">
				<div>
					<h4>Incandescent</h4>
					<p>{{inc_wattage}}</p>
					<p>{{inc_cost}}</p>
				</div>
			</section>
			<section class="hal">
				<div>
					<h4>Halogen</h4>
					<p>{{hal_wattage}}</p>
					<p>{{hal_cost}}</p>
				</div>
			</section>
			<section class="cfl">
				<div>
					<h4>CFL</h4>
					<p>{{cfl_wattage}}</p>
					<p>{{cfl_cost}}</p>
				</div>
			</section>
			<section class="led">
				<div>
					<h4>LED</h4>
					<p>{{led_wattage}}</p>
					<p>{{led_cost}}</p>
				</div>
			</section>
		</main>
		<form>
			<div>
				<h4>Lumens</h4>
				<p>Brightness <br>of Bulb</p>
				<select ng-model="current_lumens" ng-change="calculate()" ng-options="o as o for o in lumen_options">
				</select>
			</div>
			<div>
				<h4>kWh</h4>
				<p>Kilowatt-<br>hour cost</p>
				<input type="number" ng-model="current_cost" ng-change="calculate()" value="{{current_cost}}"> cents
			</div>
			<div>
				<h4>Hours</h4>
				<p>Usage <br>per day</p>
				<input type="number" ng-model="current_hours" ng-change="calculate()" value="{{current_hours}}">
			</div>
		</form>
	</div>
</body>

</html>
