/* this brings in the google font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

#myCalculator { 
	margin: 0; 
	padding: 0; 
	font-size: 16px; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300; 
	line-height: 24px; 
	max-width: 800px; 
}


#myCalculator main {
	background-color: #444;
}

#myCalculator main section {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 110px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: 63px 100px;
}


/* below 'clear' css will remove the float settings done for the main section tags */
/* clear = both will remove the settings on both sides of the main section */
/* content = '' is used with the before and after pseudo selectors - to insert genearated content */
#myCalculator main::after {
	content: '';
	display: block;
	clear: both;
}